
html {
    height: 100%;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 10pt;
    font-family: 'Malgun Gothic', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 700px;
}

#header {
    background: #73a0c5 url('/static/images/top_banner.jpg') no-repeat bottom center;
    background-color: [% site.col.head %];
    border-top:   1px solid [% site.col.line %];
    border-left:  1px solid [% site.col.line %];
    border-right: 1px solid [% site.col.line %];
    height: 180px;
    width:  700px;
}

#headerimg {
    margin: 40px 0px;
    width:  100%;
}

#headerimg .description {
    font-size: 1.2em;
    text-align: center;
}

#navigation {
    float:   right;
    font-size: 0.9em;
}

#navigation a, #navigation a:hover, #navigation a:visited {
    text-decoration: none;
}

#navigation a, #navigation a:visited {
    color: [% site.col.navi_fg %];
}

#navigation a:hover {
    color: [% site.col.navi_fg_over %];
    background-color: [% site.col.navi_bg_over %];
}

#navigation a.selected {
    font-weight: bold;
    color: [% site.col.navi_selected %];
}

#navigation ul {
    margin-top: 0px;
    margin-right: 20px;
}

#navigation ul li {
    display: inline;
    padding-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Malgun Gothic', 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2.2em;
    margin-top: 4px;
    margin-bottom: 0;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 2px;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 2px;
}

h5 {
    font-size: 1.3em;
    margin-bottom: 2px;
}

h6 {
    font-size: 1.1em;
    margin-bottom: 2px;
}

#content h2, #content h2 a, #content h2 a:hover, #content h2 a:visited {
    border-bottom: 1px solid [% site.col.line %];
    text-decoration: none;
}

#content h2, #content h2 a,  #content h2 a:visited {
    color: [% site.col.post_title %];
}

#content h2 a:hover {
    color: [% site.col.post_title_over %];
}

.post {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.post_content {
    margin-left: 10px;
}

.post_content p {
    line-height: 1.6em;
}

.post_content li {
    line-height: 1.2em;
}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg {
    text-decoration: none;
    color: [% site.col.head_text %];
}

.description {
    text-decoration: none;
    color: [% site.col.head_desc %];
}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    font-size: 0.9em;
    border-bottom: 1px solid [% site.col.line %];
    border-left:   1px solid [% site.col.line %];
    border-right:  1px solid [% site.col.line %];
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left:   0px;
    padding-right:  0px;
    width: 700px;
}

#footerimg {
    height: 10px;
}

#content {
    padding-top:    1px;
    padding-bottom: 1px;
    padding-left:   10px;
    padding-right:  10px;
    border-left:  1px solid [% site.col.line %];
    border-right: 1px solid [% site.col.line %];
    width: 680px;
}

#content .meta {
    font-size: 0.9em;
    color: [% site.col.meta %];
    text-align: right;
    float: right;
}

#content .meta p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

#content .tags a, #content .tags a:hover, #content .tags a:visited {
    text-decoration: none;
}

#content .tags a, #content .tags a:visited {
    color: [% site.col.tag_fg %];
    background-color: [% site.col.tag_bg %];
}

#content .tags a:hover {
    color: [% site.col.tag_fg_over %];
    background-color: [% site.col.tag_bg_over %];
}

#content .posts_toc {
    margin-bottom: 20px;
}

#content .tags_toc {
    margin-bottom: 20px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

table {
    border:  none;
    padding: 10px;
}

th {
    text-align:     right;
    vertical-align: top;
    padding-right:  10px;
    padding-top:    2px;
}

td {
    vertical-align: top;
    padding-bottom: 5px;
}

.message, .error {
    margin-bottom: 10px;
    margin-left: 10px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}
